<form action="/admin/tutors" method="POST" enctype="multipart/form-data">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Tutor</h1>
  </div>
  {{> admin-tutor-form}}
</form>