<form action="/admin/tutors/{{tutor.id}}?_method=PUT" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Tutor</h1>
  </div>
  {{> admin-tutor-form}}
</form>