<div class="row">
  <div class="col-md-12">
    <h1>{{tutor.name}}</h1>
  </div>
  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Tel:</strong> {{tutor.tel}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <strong>課程介紹:</strong>
    <p style="white-space: break-spaces;">{{tutor.courseDescription}}</p>
    <hr>
    <strong>教學模式:</strong>
    <p style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
