<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tutor</a>
      {{#if user}}
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="/users/{{ user.id }}" class="nav-link">{{ user.name }}'s Profile</a>
          </li>
          {{#if user}} 
          {{!-- 設定是 老師的時候就看不到 --}}
          <li class="nav-item">
            <a href="/admin/tutors/create" class="nav-link">成為老師</a>
          </li>
          {{/if}}
        </ul>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a href="/admin" class="nav-link">Admin 後台</a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a href="/logout"><button class="btn btn-outline-success my-sm-0 my-2">Logout</button></a>
          </li>
        </ul>
      </div>
      {{else}}
      <div class="container-fluid">
        <a type="button" class="btn btn-secondary" href="/signup">Sign Up</a>
        <a type="button" class="btn btn-secondary" href="/signin">Sign In</a>
      </div>
      {{/if}}
    </div>
  </nav>
</header>