

<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">預約成功</h1>
  <div class="centered-text">
    <h1>課程時間</h1>
    <p>{{tutor.booking}}</p>
    <h1>老師名稱</h1>
    <p>{{tutor.name}}</p>
    <h1>課程網址</h1>
    <p>{{tutor.videoLink}}</p>
  </div>

  <a class="btn btn-primary" href="javascript:history.back()">OK</a>
  </div>
</div>
