<div class="row mb-1">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <div class="card-body">
        <h1>{{user.name}}</h1>
        <p>{{user.email}}</p>
        <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
      </div>
  </div>
  <div class="col-md-8">
    
  </div>
  <hr>
</div>

